In [233]:
import requests as req
from bs4 import BeautifulSoup
import pandas as pd
from functools import reduce
import numpy as np

In [114]:
#4491
i = 2
s = req.get('https://tylervigen.com/page?page='+str(j)).text

df = pd.read_html(s)

In [245]:
#v = pd.DataFrame(data={'year' : [str(s) for s in range(1990,2020)]} )

v=pd.DataFrame(columns=['series'] + [s for s in range(1990,2020)])

for j in range(1,5):
    print(j)
    
    s = req.get('https://tylervigen.com/page?page='+str(j)).text

    df = pd.read_html(s)

    for i in range(2,len(df)-1,2):    
        d = df[i].loc[:2,:]
        d = d.loc[:,:d.shape[1]-2]
        d.loc[0,0] = '0'

        cols = d.loc[0].astype(int)
        cols[0] = 'series'
        d.columns = cols

        d = d.loc[1:]

        v = v.append(d)
    
v.to_csv('scrap.csv')

1
2
3
4

,1,2,1,2,1,2,1,2,1,2,...,1,2,1,2,1,2,1,2,1,2
series,Number people who drowned by falling into a sw...,Number of films Nicolas Cage appeared inFilms ...,"US spending on science, space, and technologyM...","Suicides by hanging, strangulation and suffoca...",Per capita consumption of cheese (US)Pounds (U...,Number of people who died by becoming tangled ...,Divorce rate in MaineDivorces per 1000 people ...,Per capita consumption of margarine (US)Pounds...,Number of people who died by becoming tangled ...,Total revenue generated by skiing facilities (...,...,People who literally worked themselves to deat...,Per capita consumption of eggs (US)Eggs (USDA),Number of people who died by becoming tangled ...,Number of lawyers in GeorgiaLawyers (ABA),Average honey produced per bee colony (US)Poun...,Per capita consumption of cheddar cheese (US)P...,Divorce rate in TexasDivorces per 1000 people ...,Number of lawyers in the Northern Mariana Isla...,Precipitation in DelawareAvg Daily Precipitati...,Correlation: 0.0931624
1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,109,2,18079,5427,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,330,21268,NaN,NaN,NaN,NaN,NaN,NaN
2000,102,2,18594,5688,29.8,327,5,8.2,327,1551,...,13,251,327,21362,84,9.7,NaN,NaN,NaN,NaN
2001,102,2,19753,6198,30.1,456,4.7,7,456,1635,...,8,252,456,22254,73,9.9,NaN,NaN,NaN,NaN
2002,98,3,20734,6462,30.5,509,4.6,6.5,509,1801,...,10,255,509,23134,67,9.6,NaN,NaN,NaN,NaN
2003,85,1,20831,6635,30.6,497,4.4,5.3,497,1827,...,14,255,497,23698,69.9,9.2,NaN,NaN,NaN,NaN
2004,95,1,23029,7336,31.3,596,4.3,5.2,596,1956,...,12,257,596,24367,71.8,10.3,NaN,NaN,NaN,NaN
2005,96,2,23597,7248,31.7,573,4.1,4,573,1989,...,11,256,573,24930,72.5,10.3,NaN,NaN,NaN,NaN
2006,98,3,23584,7491,32.6,661,4.2,4.6,661,2178,...,13,258,661,25632,64.7,10.4,3.4,156,NaN,NaN
2007,123,4,25525,8161,33.1,741,4.2,4.5,741,2257,...,9,250,741,26459,60.7,10,3.3,128,NaN,NaN
2008,94,1,27731,8578,32.7,809,4.2,4.2,809,2476,...,7,247,809,27227,69.9,10.1,3.3,127,NaN,NaN
2009,102,4,29449,9000,32.8,717,4.1,3.7,717,2438,...,10,246.1,717,27457,58.6,10.1,3.3,128,NaN,NaN
2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [285]:
v = v.sort_values(by='series')
v.to_csv('scrap.csv')